* {
  margin: 0;
  padding: 0;
  font-family: "Sfprodisplay";
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  /* width */
  &::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #fda228;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #ed9118;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &:hover {
    color: #000;
    text-decoration: none;
  }
}
