* {
  margin: 0;
  padding: 0;
  font-family: "Sfprodisplay";
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &:hover {
    color: #000;
    text-decoration: none;
  }
}
