// Colors
$black: #1b1b1b;
$white: #fff;
$yellow: #fda228;

// Fonts
@font-face {
  font-family: "Media sans extended";
  src: url("https://assets.website-files.com/61dd9ddd76c6a058a47a4c57/624325e94e62e146c669871c_Media%20Sans%20SemiCondensed%20-%20Extended.eot")
      format("embedded-opentype"),
    url("https://assets.website-files.com/61dd9ddd76c6a058a47a4c57/624325ea630c625303e9b1f9_Media%20Sans%20SemiCondensed%20-%20Extended.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Media Sans Semicondensed";
  src: url("https://assets.website-files.com/61dd9ddd76c6a058a47a4c57/61dda8782d6530778e4343c5_mediasanssemicondensed-bold-TRIAL.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sfprodisplay";
  src: url("https://assets.website-files.com/61dd9ddd76c6a058a47a4c57/61dda8ac2d6530d8d9434405_SFProDisplay-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sfprodisplay";
  src: url("https://assets.website-files.com/61dd9ddd76c6a058a47a4c57/61dda8ad7ba2babdf37e071d_SFProDisplay-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sfprodisplay";
  src: url("https://assets.website-files.com/61dd9ddd76c6a058a47a4c57/61dda8ad0965b81fb8c985ba_SFProDisplay-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// Mixin
@mixin contentWidth {
  max-width: 1400px;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

@mixin PrimaryFont() {
  font-family: "Media sans extended";
}

@mixin SecondaryFont() {
  font-family: "Sfprodisplay";
}

// Media quiries

@mixin desktop {
  @media only screen and (max-width: "1600px") {
    @content;
  }
}

@mixin laptop {
  @media only screen and (max-width: "1440px") {
    @content;
  }
}

@mixin mini_laptop {
  @media only screen and (max-width: "1140px") {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: "960px") {
    @content;
  }
}

@mixin mini_tablet {
  @media only screen and (max-width: "720px") {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: "540px") {
    @content;
  }
}

@mixin small_devices {
  @media only screen and (max-width: "400px") {
    @content;
  }
}
