@import "../../../scss/helpers.scss";

.experience_section {
  .container {
    @include contentWidth;

    .section_title {
      @include PrimaryFont;
      color: $black;
      font-size: 42px;

      @include mini_laptop {
        font-size: 38px;
      }

      @include tablet {
        font-size: 54px;
      }

      @include mini_tablet {
        font-size: 44px;
      }

      @include mobile {
        font-size: 36px;
      }
    }
    .experience_with_qna {
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      position: relative;

      @include tablet {
        flex-direction: column;
      }

      .my_experience {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        max-width: 790px;
      }

      .my_qna {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        position: sticky;
        top: 20px;
        bottom: 20px;
        height: fit-content;

        @include tablet {
          position: static;
          margin-top: 50px;
        }

        .qna_box {
          display: flex;
          flex-direction: column;
          row-gap: 10px;

          .q {
            font-size: 18px;
            font-weight: 500;
          }

          .a {
            opacity: 0.8;
            line-height: 22px;
          }
        }
      }
    }
  }
}
