@import "../../../scss/helpers.scss";

.faq_section {
  margin-top: 100px;

  .container {
    @include contentWidth;
    width: 80%;

    @include mini_tablet {
      width: 94%;
    }

    .all_faqs {
      display: flex;
      flex-direction: column;
      row-gap: 50px;
      margin-top: 50px;

      .each_faq {
      }
    }
  }
}
