@import "../../../scss/helpers.scss";

.accordion {
  display: flex;
  flex-direction: column;
  border: 2px solid #ffffff14;

  .header {
    padding: 20px;
    border-bottom: 2px solid #ffffff14;
    background: #ffffff08;

    .question {
      font-size: 18px;
      color: $white;
      opacity: 0.8;
      font-weight: 300;
      letter-spacing: 0.5px;
    }
  }

  .body {
    padding: 20px;

    .answer {
      color: $white;
      font-size: 16px;
      line-height: 24px;
      opacity: 0.6;
      font-weight: 300;
      letter-spacing: 0.5px;
    }
  }
}
