@import "../../../scss/helpers.scss";

.accordion {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border-bottom: 1px solid $black;
  padding-bottom: 30px;

  @include mini_laptop {
    padding-bottom: 20px;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      padding: 0 14px;
    }

    .question {
      @include PrimaryFont;
      font-size: 36px;
      color: $black;
      font-weight: 300;
      letter-spacing: 0.5px;

      @include tablet {
        font-size: 32px;
      }
    }

    .arrowBox {
      background-color: $black;
      padding: 14px;
      width: 18px;
      height: 18px;
      border-radius: 100px;

      @include tablet {
        padding: 10px;
      }

      @include mobile {
        display: none;
      }

      svg {
        transition: 0.5s;
      }

      .rotatedArrow {
        transform: rotate(-90deg);
      }
    }
  }

  .body {
    cursor: default;

    .answer {
      color: $black;
      font-size: 18px;
      line-height: 24px;
      opacity: 0.9;
      font-weight: 300;
      letter-spacing: 0.5px;
    }
  }
}
