@import "../../../../scss/helpers.scss";

.projectType {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  column-gap: 20px;

  @include mini_tablet {
    flex-direction: column;
    row-gap: 20px;
  }

  .button {
    max-width: 250px;
    width: 100%;

    @include mini_tablet {
      max-width: inherit;
    }
  }
}

.projectDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;

  .nextBtn {
    padding: 14px 94px;
  }
}

.projectDuration {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
  width: 90%;

  .button {
    max-width: 250px;
    width: 100%;
  }
}

.howYouFindMyWork {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
  width: 90%;

  .button {
    max-width: 250px;
    width: 100%;
  }
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  .inputFieldsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;

    .inputFields {
      flex-basis: 40%;
      flex-grow: 1;
    }
  }

  .button {
    padding: 14px 94px;
  }
}
