@import "../../../scss/helpers.scss";

.technologies_section {
  @include contentWidth;
  padding: 100px 0;

  .section_title {
    @include PrimaryFont;
    color: $black;
    font-size: 42px;

    @include mini_laptop {
      font-size: 38px;
    }

    @include tablet {
      font-size: 54px;
    }

    @include mini_tablet {
      font-size: 44px;
    }

    @include mobile {
      font-size: 36px;
    }
  }

  .technologies_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 50px;
    flex-wrap: wrap;
    border: 1px solid #0000001a;

    .technologyBox {
      flex-basis: 19%;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #0000001a;
      padding: 50px 0;
      filter: grayscale(0.8);
      transition: 0.3s;

      &:hover {
        filter: grayscale(0);
        background-color: $white;
        z-index: 1;
        box-shadow: 0 0 2px 0px #00000033;
      }

      @include mini_laptop {
        padding: 40px 0;
      }

      @include tablet {
        flex-basis: 25%;
        filter: grayscale(0);
      }

      @include mobile {
        padding: 30px 0;
      }

      .technology {
        width: 100px;
        height: 100px;

        @include mini_laptop {
          width: 80px;
          height: 80px;
        }

        @include mobile {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}
